name: CI
on:
  push: { branches: [ main ] }
  pull_request:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v2
        with: { go-version: '1.17' }
      - uses: actions/checkout@v2

      - uses: golangci/golangci-lint-action@v2

      - run: go test -coverprofile=cover.out -coverpkg=./... ./...
      - run: go tool cover -func=cover.out
